{% csrf_token %}
{% extends "clouds/base.html" %}
{% load static %}
{% block title %}
Charity Data Wordcloud
{% endblock title %} 

{% block content %}

  Select Local Authority: <select id="LASelector">
    {% for LA in area_names %}
      <option value="{{ LA.key }}"> {{ LA.name }} </option>
    {% endfor %}
  </select> <br />
  Select weighting type: <select id="weightSelector">
    <option value="charity_count">Total number of charities</option>
    <option value="subsidiary_count">Total number of charities and subsidiaries</option>
    <option value="income">Charity income in 2015</option>
    <option value="expend">Charity expenditure in 2015</option>
  </select> <br>
  <svg class="container" id="imageContainer" viewbox="-809 -500 1618 1000">
    <g class="cloudcontainer" id="wordCloud"></g>
  </svg>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/d3.min.js' %}"></script>
  <script src="{% static 'js/cloud.min.js' %}"></script>
  <script src="{% static 'js/first snippet.js' %}"></script>
{% endblock content %}
